.card {
  $card-color: red;

  background: fixed
      linear-gradient(
        transparentize(#fff, 1) 0%,
        transparentize(color(black, 900), 0.2) 70%
      ),
    url(/i/spiral-dimension-comp.jpg) center/cover;
  height: calc(100vh - $nav-height);
  margin: auto;

  > .grid {
    max-width: 60rem;
    margin: auto;
  }

  .card-container {
    position: relative;
    z-index: 1;

    .grid {
      padding: 1.6rem;
      color: #fff;
      background-color: color(black, 900);
      border: 0.2rem solid color($card-color);
    }

    .img {
      padding-bottom: 100%;
    }

    .copy {
      padding-left: 1.6rem;
      position: relative;

      .share {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;

        &:hover {
          color: color(gray);
        }
      }
    }

    .heading {
      margin-bottom: 0.8rem;

      h4 {
        padding-bottom: 0.6rem;
        letter-spacing: -0.08rem;
      }

      h6 {
        letter-spacing: 0.04rem;
      }
    }

    .links a {
      color: inherit;

      &:not(:last-child) {
        margin-bottom: 0.4rem;
        padding-right: 0.8rem;
      }

      &:hover {
        color: color($card-color);
      }
    }

    &:before {
      content: '';
      background-color: color($card-color);
      width: 100%;
      height: 100%;
      left: -0.6rem;
      bottom: -0.6rem;
      position: absolute;
      z-index: -1;
    }

    @include breakpoint(tablet-medium, 'max-width') {
      h4 {
        font-size: 1.8rem;
      }

      h6 {
        font-size: 1rem;
      }

      a {
        font-size: 0.8rem;
      }
    }
  }
}

.card ~ footer {
  width: 100%;
  background: none;
  position: absolute;
  bottom: 0;

  .copyright {
    color: color(dark-gray, 700);
  }
}
